<h1>Event Data for <%= event.name %></h1>

<table class="table">
    <tr>
        <th>Name</th>
        <td><%= event.name %></td>
    </tr>
    <tr>
        <th>Location</th>
        <td><%= event.location %></td>
    </tr>
    <tr>
        <th>Location-Name</th>
        <td><%= event.location_name %></td>
    </tr>
    <tr>
        <th>Price</th>
        <td><%= event.price %></td>
    </tr>
    <tr>
        <th>Date</th>
        <td><%= event.date %></td>
    </tr>
   
</table>


 