<h2>Users Table</h2>
<div>
    <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
       <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
       <div class="flash error"><%= flashMessages.error %></div>
       <% } %>
    <% } %>
</div>
<table>
    <thead>
        <tr>
            <th class="text-red-400">Name</th>
            <th>Email</th>
            <th>Zip-Code</th>
            <th>Characters of Name</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td>
                    <a href="<%= `/users/${user._id}` %>">
                    <%= user.fullName %>
                    </a>
                </td>
              
                    <td><%= user.email %></td>
                    <td><%= user.zipCode %></td>
                    <td><%= user.characters %></td>
                    <td>
                        <a href="<%= `/users/${user._id}/edit` %>">
                        Edit
                        </a>
                    </td>    
                    <td>
                        <a href="<%= `users/${user._id}/delete?_method=DELETE` %>">
                        Delete
                        </a>
                    </td>    
            </tr>
        <% }); %>
    </tbody>
</table>
